###############################################################################
# Build Artifacts
###############################################################################
artifacts/
*.binlog

###############################################################################
# Default Artifacts
###############################################################################
bin/
obj/

###############################################################################
# Test Artifacts
###############################################################################
TestResult.xml

###############################################################################
# Visual Studio and Visual Studio Code
###############################################################################
.vs/
.vscode/

###############################################################################
# User Specific Settings
###############################################################################
*.user
launchSettings.json