name: Build

on:
  push:
    branches:
      - 'main'
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - .github/workflows/build_native.yml
      - 'src/native/**'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - .github/workflows/build_native.yml
      - 'src/native/**'

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v5
      with:
        global-json-file: ./global.json

    - name: Build/Pack
      run: dotnet pack Alimer.slnx --configuration Release -p:Packing=true
